@*@using ClassWork.Controllers;
@model Book*@

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@*<p>@ViewBag.age</p>
<p>@ViewBag.name</p>
<p>@ViewBag.surname</p>*@

@*<p>@Model.Id</p>
<p>@Model.Name</p>
<p>@Model.Author</p>*@
